<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="file://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/lib" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-3.0.2.RELEASE-dependencies/com.mchange.c3p0/com.springsource.com.mchange.v2.c3p0/0.9.1.2/com.springsource.com.mchange.v2.c3p0-0.9.1.2.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-3.0.2.RELEASE-dependencies/org.aopalliance/com.springsource.org.aopalliance/1.0.0/com.springsource.org.aopalliance-1.0.0.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-3.0.2.RELEASE-dependencies/org.aspectj/com.springsource.org.aspectj.weaver/1.6.8.RELEASE/com.springsource.org.aspectj.weaver-1.6.8.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-webmvc-portlet-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-instrument-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-test-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-tx-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-context-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-oxm-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-aop-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-instrument-tomcat-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-beans-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-jms-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-messaging-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-context-support-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-orm-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-expression-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-aspects-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-core-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-web-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-webmvc-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-jdbc-4.2.4.RELEASE-sources.jar!/" />
      <root url="jar://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/libs/spring-websocket-4.2.4.RELEASE-sources.jar!/" />
    </SOURCES>
    <jarDirectory url="file://D:/dev_resouce/Spring/spring-framework-4.2.4.RELEASE-dist/spring-framework-4.2.4.RELEASE/lib" recursive="false" />
  </library>
</component>