<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:property-placeholder location="classpath:database.properties"></context:property-placeholder>
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${mysql.jdbcUrl}"></property>
        <property name="driverClass" value="${mysql.driverClass}"></property>
        <property name="user" value="${mysql.user}"></property>
        <property name="password" value="${mysql.password}"></property>
    </bean>

    <!-- struts完全整合 -->
    <bean name="show" class="com.qs.web.action.Show" scope="prototype">
        <property name="service" ref="service"></property>
    </bean>


    <!--  hibernate整合  -->
    <bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="show_sql">true</prop>
                <prop key="format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
            </props>
        </property>
        <property name="mappingDirectoryLocations" value="classpath:com/qs/bean"></property>
    </bean>




<!--    切面AOP-->
    <aop:config>

        <aop:pointcut id="pointCut1" expression="execution(* com.qs.service.impl.ServiceImpl.*(..))"/>

        <aop:aspect id="service" ref="logger">
<!--            切面-->
<!--            前置通知-->
            <aop:before method="printLog" pointcut-ref="pointCut1"></aop:before>
            <aop:after method="printLog" pointcut-ref="pointCut1"></aop:after>
            <aop:after-returning method="printLog" pointcut-ref="pointCut1"></aop:after-returning>
            <aop:after-throwing method="printLog" pointcut-ref="pointCut1"></aop:after-throwing>

<!--            环绕通知-->

            <aop:around method="around" pointcut-ref="pointCut1"></aop:around>
        </aop:aspect>
    </aop:config>

    <bean id="logger" class="com.qs.logger.Logger"></bean>





    <bean name="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean name="dao" class="com.qs.dao.impl.DaoImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean name="service" class="com.qs.service.impl.ServiceImpl">
        <property name="dao" ref="dao"></property>
    </bean>


</beans>